{% extends 'main/base.html' %}

{% block title %}
    Регистрация тренера
{% endblock %}
{% block style_index %}
class="nav-link link-dark"
{% endblock %}
{% block style_reg %}
class="nav-link active"
{% endblock %}
{% block style_trainers %}
    class="nav-link link-dark"
{% endblock %}
{% block style_tournament %}
    class="nav-link link-dark"
{% endblock %}

{% block header %}

{% endblock header %}
{% block body %}
{#class="form-inline"#}
    <form  action="" method="post">
        {% csrf_token %}
        <div class="all_forms border border-success p-4">
            <h3>Поле регистрации Тренера</h3>
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
                <br>
            {% endfor %}
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>

    </form>
{% endblock %}
