{% extends 'main/base.html' %}

{% block title %}
    Титульник
{% endblock %}
{% block style_index %}
   class="nav-link link-dark"
{% endblock %}

{% block style_reg %}
    class="nav-link link-dark"
{% endblock %}
{% block style_trainers %}
    class="nav-link active"
{% endblock %}
{% block style_tournament %}
    class="nav-link link-dark"
{% endblock %}
{% block body %}
        {% for tr in trs %}
{#        <div class="alert alert-warning mt-3">#}
        <div class="list-group">
            <h4><button type='button' onclick="document.location='{{ tr.en_view }}'" class="w-50 list-group-item list-group-item-action "> {{ tr }} </button></h4>
        </div>
    {% endfor %}
{% endblock %}